{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Type</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td class="text-start">{{ transaction.symbol }}</td>
                <td class="text-end">{{ transaction.type }}</td>
                {% if transaction.type == "SELL" %}
                    <td class="text-end">-{{ transaction.shares }}</td>
                {% else %}
                    <td class="text-end">{{ transaction.shares }}</td>
                {% endif %}
                <td class="text-end">{{ transaction.price | usd }}</td>
                <td class="text-end">{{ transaction.purchase_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
