{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in purchases %}
            <tr>
                <td class="text-start">{{ purchase.symbol }}</td>
                <td class="text-end">{{ purchase.shares }}</td>
                <td class="text-end">{{ purchase.price }}</td>
                <td class="text-end">{{ purchase.total }}</td>
            </tr>
            {% endfor %}
            <tr>
                <th class="border-0 fw-bold text-end" colspan="3">Cash</th>
                <td class=" border-0 text-end">{{ cash }}</td>
            </tr>
            <tr>
                <th class="border-0 fw-bold text-end" colspan="3">TOTAL</th>
                <td class="border-0 w-bold text-end">{{ total }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
