{% extends "auctions/layout.html" %}

{% block body %}
    {% if not user.is_authenticated %}
    <div class="text-center">
        Log In or Register to view or create Active Listings😊
    </div>
    {% endif %}
    {% if user.is_authenticated %}
        <h2>Active Listings</h2>
        
        <div class="row mx-3">
        {% for listing in listings %}
            <div class="card mb-3 mr-1" style="max-width: 540px;">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{{ listing.imageUrl }}" class="img-fluid rounded-start" alt="{{ listing.title }}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ listing.title }}</h5>
                            <p class="card-text"><b>Price: </b>${{ listing.price }}</p>
                            <p class="card-text"><small class="text-muted">{{ listing.description }}</small></p>
                            <p class="card-text"><small class="text-muted">Created {{ listing.listed_at }}</small></p>
                            <a href="{% url 'listing' id=listing.id %}" class="btn btn-info btn-sm">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% else %}
    
    {% endif %}

{% endblock %}