{% extends "auctions/layout.html" %}

{% block body %}

<div class="row mx-3">
    {% if user.is_authenticated %}
        {% if listingWatchlist %}
            <form action="{% url 'removeWatchist' id=listing.id %}">
                {% csrf_token %}
                <button class="btn btn-danger">Remove Watchlist</button>
            </form>
        {% else %}
            <form action="{% url 'addWatchist' id=listing.id %}">
                {% csrf_token %}
                <button class="btn btn-success">Add Watchlist</button>
            </form>
        {% endif  %}
    {% endif  %}
</div>

<div class="container-fluid">
    <h3>Listing: {{ listing.title }}</h3>
    <img src="{{ listing.imageUrl }}" alt="{{ listing.title }}" height="200px">
    <p>{{ listing.description }}</p>
    <h4>${{ listing.price }}</h4>
</div>
<div class="form-group">
    <form action="{% url 'listing' id=listing.id %}" method="post">
        <input type="number" min="0" name="bid" class="form-control" id="bids" placeholder="Bid">
        <button class="btn btn-primary my-3">Place Bid</button>
    </form>
</div>

{% endblock %}