{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>

    {% if not watchlist %}
        <h5>No watchlist Found</h5>
        Feel free to check active Listing of your choice and add it to watchlist!😊
    {% endif %}
    <div class="row mx-3">
    {% for list in watchlist %}
        <div class="card mb-3 mr-1" style="max-width: 540px;">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{ list.imageUrl }}" class="card-img" alt="{{ list.title }}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ list.title }}</h5>
                        <p class="card-text"><b>Price: </b>${{ list.price }}</p>
                        <p class="card-text"><small class="text-muted">{{ list.description }}</small></p>
                        <div class="row">
                            <a href="{% url 'listing' id=list.id %}" class="btn btn-info btn-sm">Details</a>
                            {% if list %}
                                <form action="{% url 'removeWatchist' id=list.id %}">
                                    {% csrf_token %}
                                    <button class="btn btn-secondary btn-sm mx-3">Remove Watchlist</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}