body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-width: 400px;
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #202124;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.gb {
    margin-bottom: 20px;
}

.LX3sZb {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

div>a {
    padding: 10px 10px;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.google-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 92px;
    max-height: 290px;
}

.logo img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
}

.search-form {
    margin-top: 20px;
    text-align: center;
}

.bar {
    margin: 0 auto;
    width: 575px;
    border-radius: 30px;
    border: 1px solid #dcdcdc;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bar:hover, .bar:focus-within {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.searchbar {
    height: 37px;
    border: none;
    width: calc(100% - 60px);
    font-size: 16px;
    outline: none;
    margin-left: 10px;
}

.voice{
    height:25px;
}

.lens{
    height:25px;
}

.search-buttons {
    text-align: center;
    margin-top: 10px;
}

.search-buttons input[type="submit"] {
    padding: 8px 16px;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}


/* Advance css */
:root {
    --rem: 16;
}

body {
    font-family: arial, sans-serif;
}

div {
    display: block;
}

div.container {
    min-height: 100%;
    margin: 0 auto -60px;
}

.LX3 {
    text-align: right;
    padding-right: 20px;
    font-size: 14px;
}


header.gb_Pa {
    display: block;
}

.gb_Pa {
    color: black;
    min-width: 160px;
    position: relative;
    transition: box-shadow 250ms;
}

.gb_5d {
    height: 24px;
    width: 74px;
    display: inline-block;
    vertical-align: middle;
}

.gb_Ic {
    display: inline-block;
    vertical-align: middle;
}

.appbar {
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
}

.gy3Eif {
    border-bottom: 1px solid #ebebeb;
}

div.Mza7yc {
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin: 40px 2% 0 45px;
}

div, form, span {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
}

form {
    display: block;
    margin-top: 0em;
}

div.otByu div.I1Kbt {
    display: inline-block;
    min-width: 167px;
    width: 16%;
    font-size: 16px;
    min-height: 42px;
    font-weight: 500;
    color: #333;
    vertical-align: middle;
}

div.otByu div.HoCfzc {
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
}

div.otByu div.yIQOUb {
    clear: both;
}

div.lOTAE {
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}

div.otByu div.FAcADc {
    display: inline-block;
    min-width: 167px;
    width: 16%;
    height: 42px;
    color: #222;
    font-size: 13px;
    line-height: 16px;
    vertical-align: middle;
}

div.otByu div.jYcx0e {
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
}

div.PLLUQc {
    padding-right: 16px;
}

div.otByu div.jYcx0e input[type=text], div.otByu div.jYcx0e span.PnexQd {
    width: 100%;
    text-align: left;
}

.jfk-textinput {
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    outline: none;
}


div.otByu div.cwqNnb {
    display: inline-block;
    width: 32%;
    min-width: 160px;
    margin: 0 0 8px 1%;
    color: #555;
    font-size: 11px;
    padding-left: 5px;
    vertical-align: middle;
    position: relative;
}

div.otByu div.cwqNnb span.BFlQMb {
    color: #666;
    font-family: monospace;
    font-size: 11px;
    white-space: pre;
}

div.otByu div.orcpGe {
    display: inline-block;
    width: 33%;
    font-size: 13px;
    font-weight: 700;
    color: #777;
    padding-left: 5px;
    vertical-align: middle;
}

input {
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding-block: 1px;
    padding-inline: 2px;
}

input[type="hidden" i] {
    appearance: none;
    background-color: initial;
    cursor: default;
    display: none !important;
    padding: initial;
    border: initial;
}

.jfk-button-action {
    box-shadow: none;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
    border: 1px solid #3079ed;
    color: #fff;
}

div.otByu div.yIQOUb input.dUBGpe {
    float: right;
    margin: 10px 0;
}

input.dUBGpe {
    padding: 0 12px;
}

.jfk-button-action:hover {
    background-color: #357ae8;
    background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
    background-image: -moz-linear-gradient(top, #4d90fe, #357ae8);
    background-image: -ms-linear-gradient(top, #4d90fe, #357ae8);
    background-image: -o-linear-gradient(top, #4d90fe, #357ae8);
    background-image: linear-gradient(top, #4d90fe, #357ae8);
    border: 1px solid #2f5bb7;
    -webkit-border-image: initial;
    border-image: initial;
}

.jfk-button {
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    outline: 0;
}